<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<!--  -->
	<form action="/bill/add" method="POST">
		<label for="name">Name:</label>
		<input type="text" name="name"/><br>
		<label for="product">Product:</label>
		<input type="text" name="product"/><br>
		<label for="number">So Luong:</label>
		<input type="number" name="number"/><br>
		<label for="phone">Phone:</label>
		<input type="number" name="phone"/><br>
		<button type="submit">Add</button>
	</form>
	<!--  -->

	<form action="/bill/show">
		<button type="subbmit">show all</button>
	</form>
	<!--  -->

	<form action="/bill/delete-all">
		<button type="subbmit">remove all</button>
	</form>
	<br>
	<!--  -->

	<form action="/bill/update" method="PUT">
		<label for="id">Id_Update:</label>
		<input type="text" name="id"/><br>
		<label for="name">Name_New:</label>
		<input type="text" name="name"/><br>
		<button type="submit">Update</button>
	</form>
	<br>
	<!--  -->

	<form action="/bill/check-phone" method="POST">
		<label for="phone">Number Phone</label>
		<input type="number" name="phone"/><br>
		<button type="subbmit">CHECK</button>
	</form>
	<br>
	<!--  -->
	
	<form action="/bill/delete-one-bill" method="PUT">
		<label for="id">_ID</label>
		<input type="text" name="id"/><br>
		<button type="subbmit">DELETE</button>
	</form>
</body>
</html>